################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/secrets1.py
/secrets2.py
.vs/
__pycache__/
myvenv/